#tool-bar {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

#search-bar {
  margin: 10px;
  text-align: center;
}

#depth-feild {
  margin: 10px;
  text-align: center;
}

#depth-text-field {
  text-align: center;
}

#render-button {
  height: 75%;
  margin: 10px;
}
